<form class="form-vertical" role="form" name="dataVersionForm"
    data-ng-submit="addDataVersion()"
>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group" style="margin-top: 10px;">
                <input type="text" class="form-control" required="required" name="title" placeholder="Enter dataVersion title"
                    data-ng-model="dataVersion.title"
                />
            </div>

            <div class="form-group">
                <textarea name="dataVersion.description" class="form-control editable-textarea" required="required" placeholder="Enter dataVersion description"
                    data-ng-model="dataVersion.description"
                >{dataVersion.description}</textarea>
            </div>

            <div class="visible-lg">
                <button type="submit" class="btn btn-primary"
                    data-ng-disabled="!dataVersionForm.$valid"
                >
                    Save
                </button>
            </div>
        </div>

        <div class="col-lg-4">
            <h4 class="text-muted">Information</h4>
            <table class="table">
                <tr>
                    <th style="vertical-align: middle;">DataObject</th>
                    <td>
                        <select name="dataObject" class="form-control" required="required"
                            data-ng-model="dataVersion.dataObject"
                            data-ng-options="dataObject.id as dataObject.name for dataObject in dataObjects"
                        >
                            <option value="">Select an dataObject</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Released</th>
                    <td>
                        <datepicker
                            data-ng-model="dataVersion.releaseDate"
                            data-min-mode="year"
                            data-datepicker-mode="'year'"
                        ></datepicker>
                    </td>
                </tr>
            </table>

            <div class="hidden-lg">
                <button type="submit" class="btn btn-primary"
                    data-ng-disabled="!dataVersionForm.$valid"
                >
                    Save
                </button>
            </div>
        </div>
    </div>
</form>
